body,
html {
  height: 100%;
  margin: 0;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

nav {
  position: absolute;
  padding-left: 2%;
  top: 1%;
  z-index: 2;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  padding-right: 40px;
  text-shadow: 2px 2px 3px rgb(29, 201, 20);
  cursor: pointer;
}

a:hover {
  color: white;
}

@media (max-width: 568px) {
  nav a {
    padding-left: 10px;
    padding-right: 0px;
  }
}

h1 {
  font-family: "Satisfy", cursive;
  font-size: 110px;
  text-shadow: 1px 1px 2px rgb(29, 201, 20);

  padding-bottom: 100px;
}

.story {
  font-size: 40px;
  line-height: 1.8;
  text-align: center;

  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px 300px;
}

@media (max-width: 1300px) {
  .story {
    padding: 80px 50px;
  }
}

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("../img/fists.jpg");
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pimg2 {
  background-image: url("../img/smileyplate.jpg");
  min-height: 300px;
}

.pimg3 {
  background-image: url("../img/plates.jpg");
  min-height: 300px;
}

.section {
  text-align: center;
  padding: 120px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  /* position: absolute; */
  top: 7%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 100px;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
}

.ptext .border.trans {
  background-color: transparent;
}

.ptext1 {
  width: 100%;
  text-align: center;
  color: #000;
  letter-spacing: 1px;
}

.button {
  padding: 15px 24px 10px 25px;
  font-size: 45px;
  color: black;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: "Satisfy", cursive;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  color: black;
  font-size: 50px;
  background-color: rgba(29, 201, 20, 0.7);
}

@media (max-width: 568px) {
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
}

@media (max-width: 568px) {
  h1 {
    margin-top: 200px;
  }
}

/* About Us page ****************************************************/

.articles {
  margin-top: 95px;
}
.article {
  margin: 20px 10%;
  padding: 0 20px 25px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: white;
  position: relative;
  height: 50px;
  overflow: hidden;
  box-shadow: 2px 2px 2px lightgrey;
}
.article h2 {
  font-size: 28px;
  padding: 0;
  margin: 15px 0 0;
}
.article .date {
  margin: 0;
  font-size: 14px;
}
.article .close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.article .expandButton {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 12px;
  color: grey;
  cursor: pointer;
  transform: translate(-50%);
  background-color: white;
}
.article-open {
  height: auto;
}
