body,
html {
  height: 100%;
  margin: 0;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

nav {
  position: absolute;
  padding-left: 2%;
  top: 1%;
  z-index: 2;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  padding-right: 40px;
  text-shadow: 2px 2px 3px rgb(29, 201, 20);
  cursor: pointer;
}

a:hover {
  color: white;
}

@media (max-width: 568px) {
  nav a {
    padding-left: 10px;
    padding-right: 0px;
  }
}

h1 {
  font-family: "Satisfy", cursive;
  font-size: 110px;
  text-shadow: 1px 1px 2px rgb(29, 201, 20);
}

.story {
  font-size: 40px;
  line-height: 1.8;
  text-align: center;
  padding-top: 175px;
  padding-right: 300px;
  padding-left: 300px;
  /* text-shadow: 1px 1px 2px rgb(29, 201, 20); */
}

@media (max-width: 1300px) {
  .story {
    padding: 80px 50px;
  }
}

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("../img/fists.jpg");
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pimg2 {
  background-image: url("../img/smileyplate.jpg");
  min-height: 300px;
}

.pimg3 {
  background-image: url("../img/plates.jpg");
  min-height: 300px;
}

.section {
  text-align: center;
  padding: 120px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  /* position: absolute; */
  top: 7%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 100px;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
}

.ptext .border {
  /* background-color: #111; */
  color: rgb(0, 0, 0);
  padding: 20px;
}

.ptext .border.trans {
  background-color: transparent;
}

.ptext1 {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  color: #000;
  letter-spacing: 1px;
}

.button {
  /* width: 450px; */
  /* height: 90px; */
  font-size: 45px;
  color: black;
  text-align: center;
  /* border: 1px solid rgb(29, 201, 2); */
  /* border-radius: 2px; */
  /* background-color: rgb(29, 201, 2); */
  font-family: "Satisfy", cursive;
  cursor: pointer;
  text-decoration: none;
  /* text-shadow: 1px 1px 2px white; */
}

.button:hover {
  color: white;
}

@media (max-width: 568px) {
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
}

@media (max-width: 568px) {
  h1 {
    margin-top: 200px;
  }
}
